<div class="row-fluid">
<article class="span12 side_widget">
  <section><h5 class="static_divider">Last Visited</h5> </section>
  <ul>
    <% if session[:history].present? %>
        <% session[:history].each do |url| %>
            <% if url[:controller]=~/(conditions|reviews)/ %>
            <li>
              <%= last_viewed url%>
            </li>
                <%end%>
        <% end %>
    <% end%>
  </ul>
</article>
</div>