

<div class="box span7">
  <span class="miniheader">All Conditions</span>
  <article class="articlecontent">
    <h1>Condition list A-Z</h1>
    <table class="table table-striped">
      <tr>
        <th>Condition</th>

        <th>Action</th>
      </tr>

      <% @conditions.each do |condition| %>
          <tr>
            <td><%= link_to condition.name, condition %></td>

            <td><%= link_to 'show', condition ,:class => "btn"%></td>
          </tr>
      <% end %>
    </table>
  </article>
</div>

<div class="well span3">
  <ul class="nav nav-list">
    <li class="nav-header">Top Conditions</li>
    <li class="divider"></li>

  </ul>
</div>


