<h1>Condition list A-Z</h1>

<h5>Click on the beside each condition to view more infomation on it</h5>

<table class="table table-striped">
  <tr>
    <th>Condition</th>
    <th>Description</th>
    <th>Action</th>
  </tr>

  <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.name %></td>
        <td><%= condition.information %></td>
        <td><%= link_to 'show', condition ,:class => "btn"%></td>
        </tr>
  <% end %>
</table>

<br />