<h1>Listing conditions</h1>

<table>
  <tr>
    <th>Condition  ID</th>
    <th>Condition_name</th>
    <th>Condition</th>
  </tr>

  <% @conditions.each do |condition| %>
      <tr>
        <td><%= condition.id %></td>
        <td><%= condition.name %></td>
        <td><%= condition.information %></td>
        <td><%= link_to 'show', condition %></td>
        </tr>
  <% end %>
</table>

<br />