<% content_for :script do %>


    <script type='text/javascript'>
        $(function () {
        // for Circular content carousel
//            $('#ca-container').contentcarousel();
            var owl = $("#feature-carousel");

            owl.owlCarousel({
                itemsCustom : [
                    [0, 2],
                    [450, 2],
                    [600, 3],
                    [700, 3],
                    [1000, 3],
                    [1200, 4],
                    [1400, 4],
                    [1600, 4]
                ],
                navigation : true

            });
//
         // this is for the widget page viewer
            $('#popular_holder').sweetPages({perPage:4});
            var controls = $('#popular_holder_control').detach();
            controls.appendTo('.popular_drug_widget');
            $('#day2day_holder').sweetPages({perPage:4});
            var controls = $('#day2day_holder_control').detach();
            controls.appendTo('.day2day_widget');
            $('#commonholder').sweetPages({perPage:4});
            var controls = $('#commonholder_control').detach();
            controls.appendTo('.common_widget');

        });


    </script>

<% end %>

  <article class="span4 home_side_widget popular_drug_widget">
    <section class="widget_header" id="popular_drug"><h5>Popular Drugs</h5></section>
    <section class="widget_content">
      <% if @commondrugs.present? %>
          <ul id="popular_holder">
            <%  @commondrugs.each do |drug| %>
                <li><%= link_to drug.brand_name.capitalize, drug_reviews_path(drug.drug_id)%></li>
            <% end %>
          </ul>
      <% end %>
    </section>


  </article>

  <article class="span4 home_side_widget day2day_widget">
    <!--<h4 class="static_divider">Popular Searches</h4>-->
    <section id="day2day" class="widget_header"><h5>Day To Day Health</h5></section>
    <section class="widget_content">
      <ul id="day2day_holder">
        <% @day2day_condition.each do |entry| %>
            <li ><%= display_hits entry %></li>
        <% end %>
      </ul>
    </section>

  </article>
  <article class="span4 home_side_widget common_widget">
    <section id="common_cond" class="widget_header"><h5>Common Conditions</h5></section>
    <section class="widget_content">
      <ul id="commonholder">
        <% @common.each do |entry| %>
            <li><%= display_hits entry %></li>
        <% end %>
      </ul>
    </section>
  </article>



