<a href="/drugs/5/search?conditions=true&type=all&age=19-24" data-remote="true">test</a>
<%= link_to 'Effectiveness', effectiveness_view_drug_path(@drug.id), :id=>'effectlink', remote: true, :class =>"btn btn-inverse"%>
<%= link_to 'Ease of Use', eou_view_drug_path(@drug.id), :id=>'eoulink', remote: true, :class =>"btn btn-inverse"%>
<%= link_to 'Satisfactory', satisfactory_view_drug_path(@drug.id), :id=>'satisfylink', remote: true, :class =>"btn btn-inverse"%>